@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/themes.css";

@layer base {
  body {
    @apply min-h-screen bg-bg text-text transition-colors duration-300;
  }

  * {
    scroll-behavior: smooth;
  }

  ::selection {
    @apply bg-accent text-white;
  }
}
